<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Internet Explorer use the highest version available -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <% if controller.controller_name == 'catalog' && controller.action_name == 'show' %>
      <meta name="Description" content="<%= render_page_title %>">
    <% else %>
      <meta name="Description" content="St. Catherine's Monastery of the Sinai, in partnership with the Early Manuscripts Electronic Library (EMEL) and the UCLA Library, welcomes you to the Sinai Manuscripts Digital Library. Widely recognized as the world’s oldest continually operating library, St. Catherine’s holdings represent an unparalleled resource to study the history and literature of the Eastern Mediterranean from late antiquity until early modernity.">
    <% end %>
    <meta name="theme-color" content="#2774ae">

    <% if ENV["GOOGLE_TAG_MGR_ID"] %>
      <script type="text/javascript" id='analytics-script'>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','<%= ENV["GOOGLE_TAG_MGR_ID"] %>');</script>
    <% end %>

    <title><%= render_page_title %></title>

    <%= opensearch_description_tag application_name, opensearch_catalog_url(format: 'xml') %>

      <%= favicon_link_tag 'favicon.ico' %>

    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600&display=swap' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap' %>

    <%= stylesheet_link_tag "sinai", media: "all" %>
    <%= javascript_include_tag "application", defer: Rails.env.development? ? false : true %>
    <%= csrf_meta_tags %>
    <%= content_for(:head) %>
  </head>

  <body class="<%= render_body_class %>">
    <% if ENV["GOOGLE_TAG_MGR_ID"] %>
      <noscript id='analytics-noscript'><iframe src="https://www.googletagmanager.com/ns.html?id=<%= ENV["GOOGLE_TAG_MGR_ID"] %>"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <% end %>

    <div class="site-container" <%= schema_org_markup %>>
      <%= render partial: 'shared/header/header_navbar' %>
      <%= render 'catalog/banners/homepage_banner' %>

      <!-- TERMS OF USE MODAL -->
      <% if cookies[:sinai_authenticated_3day] %>
        cookies[:set_modal] = { :value => 'set modal', :expires => 30.seconds.from_now }
      <% end %>

      <% if cookies[:set_modal] %>
        <!-- Trigger/Open The Modal -->
        <button id="myBtn">Open Modal</button>
        CURRENT USER: <%= current_user %> |
        SIGNED IN: <%= user_signed_in? %> |
        USER SESSION: <%= user_session %> |
        <% if cookies[:sinai_authenticated_3day] %>
          <%= cookies[:sinai_authenticated_3day] %>
        <% end %>
        <%= cookies[:set_modal] %>

      <% end %>

      <!-- The Modal -->
      <div id="termsOfUseModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">

          <!-- HEADER -->
            <div class='modal__logo-title'>Sinai Manuscripts Digital Library
            </div>
          <!-- End of Header -->

          <div class='modal__terms-of-use'>
            <p>Manuscript images from the Sinai Manuscripts Digital Library should not be used without the express consent of St. Catherine's Monastery of the Sinai. This includes use in published works and social media.</p>
            <br>
            <p>For more information, see the Terms of Use.</p>

            <p>Click "I AGREE" to continue using the site.</p>
          </div>

          <button class="modal-button"><span class="close">I AGREE</span></button>

        </div>
      </div>
      <!-- End of Modal -->
      <% end %>



      <% if controller.controller_name == 'catalog' && controller.action_name == 'show' %>

        <main class="main-content-container container-constrained container-constrained__item-page--sinai">
          <%= content_for(:container_header) %>
            <%= content_for?(:content) ? yield(:content) : yield %>
        </main>

      <% else %>
        <main class="main-content-container container-constrained">
          <%= content_for(:container_header) %>
            <%= content_for?(:content) ? yield(:content) : yield %>
        </main>
      <% end %>

      <%= render partial: 'shared/footer/footer' %>
      <%= render partial: 'shared/modal' %>
    </div>
  </body>
</html>

<script>
// Get the modal
var modal = document.getElementById("termsOfUseModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
