<div class='content-container--static-page'>
  <!--Content container to hold Sinai static page navigation-->
  <div class='content-container--sinai-static-page'>
    <%= render 'sinai_secondary_nav' %>
    <!--Start static content-->
    <div class="sinai-static-page-inner-container">
      <div class='static-page__title-row'>
        <h1 class='static-page__title--sinai'>References</h1>
      </div>

      <div class='static-page__row'>

        <p class='static-page__text static-page__text--sinai'>The following catalogues and handlists were consulted in creating the descriptive metadata for the Syriac and Arabic manuscripts published through the Sinai Manuscripts Digital Library website.</p>

        <p class='static-page__text static-page__text--sinai'>Atiya = Atiya, Aziz Suryal. <span class="reference-italic">The Arabic Manuscripts of Mount Sinai: A Hand-List of the Arabic Manuscripts and Scrolls Microfilmed at the Library of the Monastery of St. Catherine, Mount Sinai.</span> Johns Hopkins Press, 1955. [ <%= link_to 'Internet Archive', "https://archive.org/details/arabicmanuscript0000atiy_m0l2/mode/2up", class: "btn-base btn-base-lg btn-sinai--red" %> ]</p>

        <p class='static-page__text static-page__text--sinai'>Brock, Cat. = S.P. Brock. <span class="reference-italic">Catalogue of Syriac Fragments (New Finds) in the Library of the Monastery of St Catherine, Mount Sinai</span> (Athens, 1995). [ <%= link_to 'WorldCat', "https://www.worldcat.org/title/catalogue-of-syriac-fragments-new-finds-in-the-library-of-the-monastery-of-saint-catherine-mount-sinai/oclc/780492566?referer=di&ht=edition", class: "btn-base btn-base-lg btn-sinai--red" %> ]</p>

        <p class='static-page__text static-page__text--sinai'>Clark = <span class="reference-italic">Checklist of Manuscripts in St. Catherine’s Monastery Mount Sinai</span>, ed. Kenneth W. Clark. Washington, D.C.: Library of Congress, 1952. [ <%= link_to 'Library of Congress', "http://lcweb2.loc.gov/service/gdc/scd0001/2012/20120109002ch/20120109002ch.pdf", class: "btn-base btn-base-lg btn-sinai--red" %> ]</p>

        <p class='static-page__text static-page__text--sinai'>Géhin 2006 = Géhin, Paul. Manuscrits sinaïtiques dispersés, I:  les fragments arabes et syriaques de Paris, OC 90 2006, 23-43. [ <%= link_to 'WorldCat', "https://www.worldcat.org/title/-manuscrits-sinaitiques-disperses-i-les-fragments-syriaques-et-arabes-de-paris/oclc/784157423&referer=brief_results", class: "btn-base btn-base-lg btn-sinai--red" %> ]</p>

        <p class='static-page__text static-page__text--sinai'>Géhin 2017 = Géhin, Paul. <span class="reference-italic">Les manuscrits syriaques de parchemin du Sinaï et leurs</span> membra disjecta (CSCO 665, Subsidia 136; Leuven, 2017). [ <%= link_to 'WorldCat', "https://www.worldcat.org/title/manuscrits-syriaques-de-parchemin-du-sinai-et-leurs-membra-disjecta/oclc/1000455293&referer=brief_results", class: "btn-base btn-base-lg btn-sinai--red" %> ]</p>

        <p class='static-page__text static-page__text--sinai'>Gibson = Gibson, Margaret Dunlop. <span class="reference-italic">Catalogue of the Arabic Manuscripts in the Convent of S. Catharine on Mount Sinai.</span> Cambridge University Press, 1894. [ <%= link_to 'Internet Archive', "https://archive.org/details/catalogueofarabi00sainrich", class: "btn-base btn-base-lg btn-sinai--red" %> ]</p>

        <p class='static-page__text static-page__text--sinai'>Greek New Finds = Nikolopoulos, P. G. Τα νέα ευρήματα του Σινά (Athens, 1998). English translation: A. Hatzopoulos, The New Finds of Sinai (Athens, 1999). [ <%= link_to 'WorldCat', "https://www.worldcat.org/title/new-finds-of-sinai/oclc/913489510&referer=brief_results", class: "btn-base btn-base-lg btn-sinai--red" %> ]</p>

        <p class='static-page__text static-page__text--sinai'>Kamil = Kāmil, Murād. <span class="reference-italic">Catalogue of All Manuscripts in the Monastery of St. Catherine on Mount Sinai.</span> Harrassowitz, 1970. [ <%= link_to 'WorldCat', "https://www.worldcat.org/title/catalogue-of-all-manuscripts-in-the-monastery-of-st-catharine-on-mount-sinai/oclc/859613867?referer=br&ht=edition", class: "btn-base btn-base-lg btn-sinai--red" %> ]</p>

        <p class='static-page__text static-page__text--sinai'>Lewis = Lewis, Agnes Smith. <span class="reference-italic">Catalogue of the Syriac Manuscripts in the Convent of Saint Catherine on Mount Sinai.</span> Cambridge University Press, 1894. [ <%= link_to 'Internet Archive', "https://archive.org/details/catalogueofsyria00sainrich", class: "btn-base btn-base-lg btn-sinai--red" %> ]</p>

        <p class='static-page__text static-page__text--sinai'>Meimaris = Meimaris, Yiannis E. <span class="reference-italic">Katalogos ton neon aravikon cheirographon tes Hieras Mones Hagias Aikaterines tou Orous Sina = Kataluy al-Majtutat al-’arabiyya al-muktasafa haditan bi-Dayr Sant Katarin al-muqaddas.</span> Ethnikon Hidryma Ereunon, 1985. [ <%= link_to 'WorldCat', "https://www.worldcat.org/title/katalogos-ton-neon-aravikon-cheirographon-tes-hieras-mones-hagias-aikaterines-tou-orous-sina-kataluy-al-majtutat-al-arabiyya-al-muktasafa-haditan-bi-dayr-sant-katarin-al-muqaddas/oclc/1123922473?referer=br&ht=edition", class: "btn-base btn-base-lg btn-sinai--red" %> ]</p>

        <p class='static-page__text static-page__text--sinai'>Philothée 2008 = Philothée du Sinaï, <span class="reference-italic">Nouveaux manuscrits syriaques du Sinaï</span> (Athens, 2008). [ <%= link_to 'WorldCat', "https://www.worldcat.org/title/nouveaux-manuscrits-syriaques-du-sinai/oclc/476756980?referer=br&ht=edition", class: "btn-base btn-base-lg btn-sinai--red" %> ]</p>
      </div>
    </div>
  </div>
</div>
