<div class='content-container--homepage'>
  <div class="sinai-homepage-inner-container">
    <div class="lead-container--sinai">
      <p class="lead__text--homepage--sinai">St. Catherine’s Monastery of the Sinai, in partnership with the Early Manuscripts Electronic Library (EMEL) and the UCLA Library, welcomes you to the Sinai Manuscripts Digital Library. Widely recognized as the world’s oldest continually operating library, the manuscript holdings of St. Catherine’s Monastery represent an unparalleled resource to study the history and literature of the Eastern Mediterranean from late antiquity until early modernity.</p>
      <hr>
    </div>

    <div class="homepage-grid-container--sinai">
      <h2 class="homepage__subtitle--sinai">Browse Manuscripts</h2>

      <div class="homepage-grid--sinai">
        <a href="/catalog?utf8=%E2%9C%93&q=&search_field=all_fields" class="grid-item--sinai">
          <%= image_tag("sinai/grid/all-mss.jpg", class: "grid-image--sinai") %>
          <div class="grid-item__title-wrapper--sinai">
            <h3 class="grid-item__title--sinai">All Manuscripts</h3>
          </div>
        </a>

        <a href="/catalog?f%5Bfeatures_sim%5D%5B%5D=Palimpsest&q=&search_field=all_fields" class="grid-item--sinai">
          <%= image_tag("sinai/grid/palimpsests.jpg", class: "grid-image--sinai") %>
          <div class="grid-item__title-wrapper--sinai">
            <h3 class="grid-item__title--sinai">Palimpsests</h3>
          </div>
        </a>

        <a href="/catalog?f%5Bcollection_ssi%5D%5B%5D=New+Finds&q=&search_field=all_fields" class="grid-item--sinai">
          <%= image_tag("sinai/grid/nf.jpg", class: "grid-image--sinai") %>
          <div class="grid-item__title-wrapper--sinai">
            <h3 class="grid-item__title--sinai">New Finds</h3>
          </div>
        </a>

        <a href="/catalog?q=Arabic&search_field=shelfmark_tesim&sort=shelfmark_alpha_numeric_ssort+asc" class="grid-item--sinai">
          <%= image_tag("sinai/grid/arabic_ara42_f5r.jpg", class: "grid-image--sinai") %>
          <div class="grid-item__title-wrapper--sinai">
            <h3 class="grid-item__title--sinai">Arabic Collection</h3>
          </div>
        </a>

        <a href="/catalog?q=Syriac&search_field=shelfmark_tesim&sort=shelfmark_alpha_numeric_ssort+asc" class="grid-item--sinai">
          <%= image_tag("sinai/grid/syriac_sld_syr0197_0192_f_096v.png", class: "grid-image--sinai") %>
          <div class="grid-item__title-wrapper--sinai">
            <h3 class="grid-item__title--sinai">Syriac Manuscripts</h3>
          </div>
        </a>

        <a href="/catalog?f%5Bgenre_sim%5D%5B%5D=Hagiographies&q=&search_field=all_fields" class="grid-item--sinai">
          <%= image_tag("sinai/grid/hagiographies-mss.jpg", class: "grid-image--sinai") %>
          <div class="grid-item__title-wrapper--sinai">
            <h3 class="grid-item__title--sinai">Hagiographies</h3>
          </div>
        </a>

        <a href="catalog?f%5Bhuman_readable_language_sim%5D%5B%5D=Christian+Palestinian+Aramaic&q=&search_field=all_fields" class="grid-item--sinai">
          <%= image_tag("sinai/grid/cpa_syr2b_f153v.png", class: "grid-image--sinai") %>
          <div class="grid-item__title-wrapper--sinai">
            <h3 class="grid-item__title--sinai">Christian Palestinian Aramaic</h3>
          </div>
        </a>

        <a href="/catalog?f%5Bfeatures_sim%5D%5B%5D=Dated&q=&search_field=all_fields" class="grid-item--sinai">
          <%= image_tag("sinai/grid/dated_ara34_f192v.png", class: "grid-image--sinai") %>
          <div class="grid-item__title-wrapper--sinai">
            <h3 class="grid-item__title--sinai">Dated Manuscripts</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
