<% doc_presenter = index_presenter(document) %>

<div class='document__list-item-wrapper document__list-item-wrapper--sinai'>
  <!-- default partial to display solr document fields in catalog index view -->

  <%# THUMBNAIL %>
  <% if presenter(document).thumbnail.exists? && tn = presenter(document).thumbnail.thumbnail_tag({}, counter: document_counter_with_offset(document_counter)) %>
    <%# Thumnail NOT logged in %>
    <% if !cookies[:sinai_authenticated_3day] %>
      <div class='document__gallery-thumbnail document__gallery-thumbnail--sinai-generic'>
        <a href='#' data-toggle='modal' data-target='#exampleModalCenter'>
            <%= image_tag('sinai/sinai-generic-thumbnail.png', class: 'document__gallery-thumbnail--sinai-generic') %>
        </a>
      </div>
      <%# Thumbnail logged in%>
    <% else %>
      <div class='document__gallery-thumbnail document__gallery-thumbnail--sinai'>
        <%= tn %>
      </div>
    <% end %>
  <% end %>
  <%# ----------------------------------------------- %>

  <%# METADATA %>
  <% if !cookies[:sinai_authenticated_3day] %>
    <%# Sinai NOT LOGGED IN %>
    <%# cookies[:request_original_url] = request.original_url %>

    <div class='metadata-wrapper-index--sinai'>
      <header class='header-index--sinai'>
        <%= render 'catalog/index_results/modal', document: document %>
        <%# link the header to the block access modal%>
        <a href='#' data-toggle='modal' data-target='#exampleModalCenter'>
          <%= render 'catalog/index_results/header', document: document %>
        </a>
      </header>

      <%# TITLE: descriptive_title_one | descriptive_title_two | uniform_title_one | uniform_title_two %>
      <div class='title-index--sinai'>
        <%= render 'catalog/index_results/title', document: document %>
      </div>

      <%# DATE - LANGUAGE %>
      <div class='metadata-block-index--sinai'>
        <%= image_tag('sinai-icons/calendar-icon.png', class: 'icon-calendar-index--sinai') %><%= render 'catalog/index_results/date', document: document %>&nbsp;&nbsp;<%= image_tag('sinai-icons/world-icon.png', class: 'icon-world-index-sinai') %><%= render 'catalog/index_results/language', document: document %>
      </div>
      <%# NAMES %>
      <% name_field = render 'catalog/index_results/name', document: document %>
      <% if name_field =~ /href/ %>
        <div class='metadata-block-index--sinai'>
          <div class='metadata-value-index--sinai'>
              <%= image_tag('sinai-icons/people-icon.svg', class: 'icon-people-index--sinai') %><%= name_field %>
          </div>
        </div><%# metadata-block-index--sinai %>
      <% end %>
    </div><%# metadata-wrapper-index--sinai %>

  <%# ----------------------------------------------- %>

  <% else %>
    <%# Sinai LOGGED IN %>
    <div class='metadata-wrapper-index--sinai'>

      <header class='header-index--sinai'>
        <%# link the header to the work by the ark %>
        <a href='#' data-toggle='modal' data-target='#exampleModalCenter'>
          <%= link_to_document(document, render('catalog/index_results/header', document: document)) %>
        </a>
      </header>

      <%# TITLE: descriptive_title_one | descriptive_title_two | uniform_title_one | uniform_title_two %>
      <div class='title-index--sinai'>
        <%= render 'catalog/index_results/title', document: document %>
      </div>

      <%# DATE - LANGUAGE %>
      <div class='metadata-block-index--sinai'>
        <%= image_tag('sinai-icons/calendar-icon.png', class: 'icon-calendar-index--sinai') %><%= render 'catalog/index_results/date', document: document %>&nbsp;&nbsp;<%= image_tag('sinai-icons/world-icon.png', class: 'icon-world-index-sinai') %><%= render 'catalog/index_results/language', document: document %>
      </div>

      <%# NAMES %>
      <% name_field = render 'catalog/index_results/name', document: document %>
      <% if name_field =~ /href/ %>
        <div class='metadata-block-index--sinai'>
          <%= image_tag('sinai-icons/people-icon.svg', class: 'icon-people-index--sinai') %><%= name_field %>
        </div><%# metadata-block-index--sinai %>
      <% end %>

      <%# COLLECTION %>
      <%= render 'catalog/index_results/collection', document: document %>
    </div><%# metadata-wrapper-index--sinai %>
  </div><%# document__list-item-wrapper--sinai %>
<% end %>
