<% content_for(:head) do %>
  <meta name="blacklight-search-storage" content="<%= blacklight_config.track_search_session.storage %>">
<% end %>

<% unless has_search_parameters? %>
  <%# if there are no input/search related params, display the "home" partial -%>
  <%= render 'home' %>
  <%= render 'shared/sitelinks_search_box' %>
<% else %>
  <div class="content-container--index-page">
    <%= render 'facets' %>
    <%= render 'search_results' %>
  </div>
<% end %>
